<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.njmeter.intelligenthydrant">

    <!-- 极光推送权限 -->
    <permission
        android:name="cn.njmeter.njmeter.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- QrCode -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 百度地图所需权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 这个权限用于进行网络定位，对于蓝牙，当API>=23时也需要添加，否则搜索不到设备 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位，对于蓝牙，当API>=23时也需要添加，否则搜索不到设备 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块，加快GPS首次定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- SHaredSDK短信验证码，读取联系人、接收和读取短信 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 避免Android8.0安装APK时提示解析安装包错误 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".HydrantApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hydrant_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <!-- Splash页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录注册页面 -->
        <activity
            android:name=".loginregister.activity.LoginRegisterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 更换密码页面 -->
        <activity
            android:name=".loginregister.activity.ChangePasswordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 找回密码页面 -->
        <activity
            android:name=".loginregister.activity.RetrievePasswordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 管理员选择水司页面 -->
        <activity
            android:name=".activity.ChooseCompanyActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />

        <!-- 设置地图默认缩放级别 -->
        <activity
            android:name=".activity.MapZoomLevelActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />

        <!-- 联系我们 -->
        <activity
            android:name=".activity.ContactUsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 图片裁剪页面 -->
        <activity
            android:name=".activity.CropActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />

        <!-- 通用Html页面 -->
        <activity
            android:name=".activity.HtmlActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 选择服务器页面 -->
        <activity
            android:name=".activity.ServerConfigurationActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />

        <!-- 设置公司信息页面 -->
        <activity
            android:name=".activity.SetCompanyActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 设置主账号信息页面 -->
        <activity
            android:name=".activity.SetMainAccountActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 设置昵称页面 -->
        <activity
            android:name=".activity.SetNickNameActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 设置子账号信息页面 -->
        <activity
            android:name=".activity.SetSubAccountActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 绑定第三方账号页面 -->
        <activity
            android:name=".activity.SocialAccountsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 版本信息页面 -->
        <activity
            android:name=".activity.VersionsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- 扫描二维码页面 -->
        <activity
            android:name=".activity.CaptureActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />

        <!-- 手动输入消火栓编号页面 -->
        <activity
            android:name=".activity.QRCodeInputActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" />

        <!-- 百度地图定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/BAIDU_API_KEY" />

        <service
            android:name=".service.SocketService"
            android:enabled="true"
            android:exported="false" />

        <!--兼容Android N或者以上的设备-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>